* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --height-template-row: 100px;
    --width-template-column: auto;
    --li-left-right: 2rem;
    --height-ul: 0.5rem;
    --height-all: 2rem;
}

body {
    background-color: black;
}

.container-fluid {
    /* width: 1000px; */
    position: relative;
    max-width: 100%;
    margin: auto;
}

header {
    position: relative;
    display: flex;
    height: var(--height-all);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    top: -1rem;
}

.container {
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.img-logo {
    width: fit-content;
    margin-left: 2rem;
    margin-right: auto;
}

.img-logo>a>img {
    padding: 1rem auto 0;
}

header ul {
    text-align: center;
    padding-left: 0;
    margin: 0 auto 0 auto;
}

header>ul>li {
    list-style-type: none;
    display: inline-flex;
    padding-top: var(--height-ul);
    padding-bottom: var(--height-ul);
    padding-left: var(--li-left-right);
    padding-right: var(--li-left-right);
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    font-size: 1rem;
}

.logo{
    position: relative;
    margin-top: 0rem;
    padding: 0rem;
}

.logo>.img-logo>a>img{
    position: relative;
    top: 0.75rem;
}

header ul li>a:hover {
    color: black;
    background-color: white;
}

.item {
    position: relative;
    display: flex;
}

.item img {
    position: absolute;
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    top: 10rem;
    right: 25rem;
}

.container {
    display: grid;
    grid-template-columns: var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column);
    grid-template-rows: var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row);
    width: 90%;
    margin-left: 5%;
}

.item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 7;
}

.item:nth-child(2) {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item:nth-child(3) {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.item:nth-child(4) {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
}

.item .content {
    position: absolute;
    top: 0;
    left: 20rem;
    width: max-content;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: white;
    margin-top: 0.5rem;
    margin-left: 10rem;
    cursor: pointer;
}

.des h1 {
    text-align: center;
    font-size: 2rem;
}

.des ul {
    margin-left: 4rem;
}

.des ul li {
    font-size: 1rem;
    list-style-type: square;
    text-align: left;
}


footer p {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    color: white;
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
    :root {
        --height-template-row: 100px;
        --width-template-column: auto;
        --li-left-right: 1rem;
        --height-ul: 1rem;
    }

    ul li {
        list-style-type: none;
        display: inline-block;
        padding-top: var(--height-ul);
        padding-bottom: var(--height-ul);
        padding-left: var(--li-left-right);
        padding-right: var(--li-left-right);
    }

    .container {
        display: grid;
        grid-template-columns: var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column);
        grid-template-rows: var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row);
        width: 90%;
        margin-left: 5%;
    }

    .item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}
    /* .item:nth-child(2) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item:nth-child(3) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .item:nth-child(4) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
    }
} */

    /* Ipad dọc(768 x 1024)
@media screen and (max-width: 768px) {
    :root {
        --height-template-row: 100px;
        --width-template-column: auto;
        --li-left-right: 0.5rem;
        --height-ul: 1rem;
    }

    ul li {
        list-style-type: none;
        display: inline-block;
        padding-top: var(--height-ul);
        padding-bottom: var(--height-ul);
        padding-left: var(--li-left-right);
        padding-right: var(--li-left-right);
    }

    .container {
        display: grid;
        grid-template-columns: var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column);
        grid-template-rows: var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row);
        width: 90%;
        margin-left: 5%;
    }

    .item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .item:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .item:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 9;
    }
}

/*Tablet nhỏ(480 x 640)*/
    /* @media screen and (max-width: 480px) {
    :root {
        --height-template-row: 100px;
        --width-template-column: auto;
        --li-left-right: 0.25rem;
        --height-ul: 1rem;
    }

    ul li {
        list-style-type: none;
        display: inline-block;
        padding-top: var(--height-ul);
        padding-bottom: var(--height-ul);
        padding-left: var(--li-left-right);
        padding-right: var(--li-left-right);
    }

    .container {
        display: grid;
        grid-template-columns: var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column);
        grid-template-rows: var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row);
        width: 90%;
        margin-left: 5%;
    }

    .item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .item:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .item:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 9;
    }
}

/*Iphone(480 x 640)*/
    /* @media screen and (max-width: 320px) {
    :root {
        --height-template-row: 100px;
        --width-template-column: auto;
        --li-left-right: 0.25rem;
        --height-ul: 1rem;
    }

    ul li {
        list-style-type: none;
        display: inline-block;
        padding-top: var(--height-ul);
        padding-bottom: var(--height-ul);
        padding-left: var(--li-left-right);
        padding-right: var(--li-left-right);
    }

    .container {
        display: grid;
        grid-template-columns: var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column);
        grid-template-rows: var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row);
        width: 90%;
        margin-left: 5%;
    }

    .item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .item:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .item:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 9;
    }
} */

    /*Smart phone nhỏ*/
    /* @media screen and (max-width: 240px) {
    :root {
        --height-template-row: 100px;
        --width-template-column: auto;
        --li-left-right: 0rem;
        --height-ul: 1rem;
    }

    ul li {
        list-style-type: none;
        display: inline-block;
        padding-top: var(--height-ul);
        padding-bottom: var(--height-ul);
        padding-left: var(--li-left-right);
        padding-right: var(--li-left-right);
    }

    .container {
        display: grid;
        grid-template-columns: var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column) var(--width-template-column);
        grid-template-rows: var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row) var(--height-template-row);
        width: 90%;
        margin-left: 5%;
    }

    .item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .item:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .item:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 9;
    }

} */

    /* light mode dark mode */
    .changeTheme {
        margin: 1rem 1rem -1rem 5rem;
        width: 4.5rem;
        height: 2rem;
        display: block;
        background-color: #CBCBCB;
        border-radius: 20px;
        position: relative;
        transition: 0.8s;
        cursor: pointer;
    }

    .changeTheme::before {
        position: absolute;
        left: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        content: '';
        border-radius: 50%;
        transition: 0.5s;
        /* box-shadow: 0 5px 10px #b5b4b4; */
    }

    .changeTheme input {
        display: none;
    }

    .changeTheme:has(input:checked) {
        background-color: #4cb774;
    }

    .container-fluid.changeTheme:has(input:checked)::before {
        background-color: white;
    }

    .changeTheme:has(input:checked)::before {
        left: 55%;
    }

    body:has(input[name="changeTheme"]:checked) {
        background-color: white;
    }

    body:has(input[name="changeTheme"]:checked) .content {
        background-color: white;
        color: black;
    }

    .container-fluid:has(input[name="changeTheme"]:checked) header ul li a{
        color: black;
    }

    .container-fluid:has(input[name="changeTheme"]:checked) footer p{
        color: black;
    }